doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,600;0,900;1,300;1,600;1,900&amp;family=Oswald:wght@300;600;700&amp;display=swap")
        link(href="https://fonts.googleapis.com/css2?family=Chewy&amp;display=swap", rel="stylesheet")
        link(rel="stylesheet", href="../css/styles.css")
        title Password Generator
    body
        block contenido